gradle-wrapper.jar
.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
/.gradle
build/
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/
android/.gradle/
android/app/build/
android/local.properties
lib/test.dart
lib/start_up_page.dart
lib/get_started.dart
# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
